.ContactList {
  display: flex;
  flex-wrap: wrap;
}
/* .ContactList:not(:nth-child(3n)) {
  margin-right: 10px;
} */
.card_contact {
  position: relative;
  box-sizing: content-box;
  width: 150px;
  height: 100px;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  padding: 10px;
  background: rgb(223 135 63 / 50%);
  border-radius: 5%;
  box-shadow: 0px 5px 10px 2px rgb(37 23 1 / 41%);
  font-weight: 500;
}

.card_contact:nth-child(n) {
  margin-bottom: 40px;
  margin-right: 10px;
}
.btn_delete {
  position: absolute;
  bottom: 10px;
  left: 30%;
  margin-top: 5px;
  text-align: center;
  width: 60px;
  height: 20px;
  border-radius: 45px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  color: #2a2827;
  font-weight: 600;
  background: rgba(223, 135, 63, 0.418);
  box-shadow: 0px 5px 10px 2px rgb(37 23 1 / 41%);
  transition: 0.3s;
}

.btn_delete:hover {
  /* transform: scale(1.1);
  box-shadow: 0px 5px 10px 2px rgba(10, 18, 24, 0.2);
  background-color: rgba(105, 69, 2, 0.883);
  color: white;
  border: 2px solid #5d4502; */
  background: #7c4d01;
  box-shadow: 0 15px 20px rgba(226, 139, 58, 0.4);
  color: white;
  /* transform: translateY(-7px); */
}
.btn_delete,
.btn_delete:active,
.btn_delete:focus {
  outline: none;
}

.IconButton {
  position: absolute;
  bottom: 5px;
  left: 40%;
  border: none;
  width: 30px;
  background: transparent;
  outline: none;
  border: none;
  box-shadow: 0 15px 20px rgba(46, 23, 2, 0.972);
  /* display: inline-flex;
  align-items: center;
  justify-content: center; */
}

svg:active,
svg:focus,
svg:hover {
  background: #7c4d01;
  box-shadow: 0 15px 20px rgba(226, 139, 58, 0.4);
  fill: white;
}
